<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"">
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <header>
        <div class="header-container">
            <h1><a href="{{ url_for('index')}}"> < Dev de Software > </Desarrollo></a></h1>
        </div>
    </header>
    <div class="main-container">
        {% block main %}

        {% endblock %}
    </div>
    
    {% block extra %}
    {% endblock %}
    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h2 class="footer-heading">Contáctanos</h2>
                <ul class="footer-list">
                    <li><a href="#"><img src="{{url_for('static', filename='mail.svg', _external=True)}}" alt="">Mail</a></li>
                    <li><a href="#"><img src="{{url_for('static', filename='phone.svg', _external=True)}}" alt="">Teléfono</a></li>
                    <li><a href="#"><img src="{{url_for('static', filename='home.svg', _external=True)}}" alt="">Dirección</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h2 class="footer-heading">Síguenos</h2>
                <ul class="footer-list">
                    <li><a href="#"><img src="{{url_for('static', filename='facebook.svg', _external=True)}}" alt="logo facebook">Facebook</a></li>
                    <li><a href="#"><img src="{{url_for('static', filename='twitter.svg', _external=True)}}" alt="twitter logo">Twitter</a></li>
                    <li><a href="#"><img src="{{url_for('static', filename='instagram.svg', _external=True)}}" alt="instagram logo">Instagram</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>