{% extends "base.html" %}
{% block title %}Reutilización de código HTML {% endblock %}


{% block main %}
<h1>Block: Reutilización de código HTML</h1>
<p>Todo sitio web posee partes de código HTML (header, footer, scripts) que se repiten en cada una de las páginas. Para esto se puede utilizar los bloques <code>"{"% block header %"}"</code> <code>"{"% endblock %"}"</code>.</p>
<p>Para la utilización de los bloques es necesario crear un archivo <code>base.html</code>, ubicarlo dentro de la carpeta template. Este archivo tendrá todo lo que consideremos como código que se pueda repetir, y dentro de este se colocarán los bloques para ser editables a posteriori.</p>

<h1>Ejemplo de Cómo usar los Blocks:</h1>
<img src="{{ url_for('static', filename='blocks.png')}}" alt="">

{% endblock %}
