{% extends "base.html" %}
{% block title %}Virtual environment {% endblock %}


{% block main %}
    <h1>Virtual environment</h1>
    <p>Para comenzar con este ejemplo utilizaremos un entorno virtual. Los entornos virtuales nos permiten instalar y utilizar librerías y la versión de Python necesaria para nuestro proyecto.</p>
    <p>Para esto utilizaremos <code>pipenv</code> en nuestra carpeta del proyecto.</p>
    <p>Luego instalaremos la librería <code>flask</code>.</p>
    <p>Podemos verificar las dependencias instaladas.</p>
    <p>Entonces podemos comenzar nuestro proyecto.</p>
    <h1>Ejemplo:</h1>
    <p>Acá tenemos un script que prepara el entorno virtual y instala un paquete si lo pasas como parametro:</p>
    <script src="https://gist.github.com/guillsil/0c871ea54c372e79d20078ab185635f2.js"></script>

{% endblock %}
