{% extends "base.html" %}
{% block title %}Estructuras de Control e Iterativas en Bash {% endblock %}

{% block main %}
    <h1>Estructuras de Control e Iterativas en Bash</h1>
    <h2>1. Estructuras de Control</h2>
    <p>En Bash, las estructuras de control más comunes son <code>if</code>, <code>if-else</code>, <code>case</code>.</p>
    <h3>1.1. Estructura <code>if</code></h3>
    <img src="{{ url_for('static', filename='/images/images-clases/if-bash.png')}}" alt="">
    <h3>1.2. Estructura <code>if</code> con un <code>else</code></h3>
    <img src="{{ url_for('static', filename='/images/images-clases/if-2-bash.png')}}" alt="">
    <h3>1.2. Estructura <code>case</code></h3>
    <img src="{{ url_for('static', filename='/images/images-clases/case-bash.png')}}" alt="">
    
    <h2>2. Estructuras Iterativas</h2>
    <p>Estas estructuras se utilizan para repetir un bloque de código hasta que se cumpla una condición.</p>
    <p>Las estructuras iterativas en Bash son <code>for</code>, <code>while</code> y <code>until</code>.</p>
    <h3>2.1 Estructura <code>for</code></h3>
    <img src="{{ url_for('static', filename='/images/images-clases/for-bash.png')}}">
    <h3>2.2 Estructura <code>while</code></h3>
    <img src="{{ url_for('static', filename='/images/images-clases/while-bash.png')}}" alt="">
    <h3>2.3 Estructura <code>until</code></h3>
    <img src="{{ url_for('static', filename='/images/images-clases/until-bash.png')}}" alt="">
{% endblock %}
