{% extends "base.html" %}
{% block title %}HTML {% endblock %}


{% block main %}
<h1>HTML, siglas de HyperText Markup Language</h1>
    <p>(Lenguaje de Marcado de Hipertexto), es el lenguaje estándar utilizado para crear y diseñar páginas web.</p>
    
    <h2>Elementos en HTML</h2>
    <p>En HTML, los elementos se definen mediante etiquetas, que proporcionan la estructura básica de una página web. Cada elemento puede contener texto, imágenes, enlaces, formularios, videos y otros elementos multimedia.</p>
    
    <h2>Importancia de HTML</h2>
    <p>HTML es esencial para la construcción de sitios web, ya que proporciona la base sobre la cual se construyen todas las páginas web. Define la estructura y el contenido de una página, permitiendo a los desarrolladores web crear diseños y presentaciones visualmente atractivas y funcionales.</p>
    
    <h2>Combinación con otros lenguajes</h2>
    <p>Además, HTML se combina frecuentemente con otros lenguajes como CSS (Cascading Style Sheets) para el diseño y la presentación visual, y JavaScript para la interactividad y la funcionalidad dinámica en la web. Juntos, estos lenguajes forman la base de la mayoría de los sitios web modernos.</p>

    <h2>Estructura Basica de Html</h2>
    <pre>
        &lt;!DOCTYPE html&gt;
        &lt;html&gt;
        &lt;head&gt;
            &lt;title&gt;Título de la página&lt;/title&gt;
        &lt;/head&gt;
        &lt;body&gt;
            &lt;h1&gt;Título principal&lt;/h1&gt;
            &lt;p&gt;Este es un párrafo de texto.&lt;/p&gt;
        &lt;/body&gt;
        &lt;/html&gt;
    </pre>
{% endblock %}
