{% extends "base.html" %} {% block title %}Introducción al Desarrollo de
Software {% endblock %} {% block main %}

<article>
  <h2>
    Clase 1: Consola Linux / Bash / Scripts
    <img
      src="{{ url_for('static', filename='expand.svg')}}"
      class="icon-expand"
      alt=""
    />
  </h2>
  <ul class="ul-article">
    <li>
      <a href="   {{ url_for('page_procesamiento_de_archivos') }}   "
        >Cómo procesar archivos desde la consola de Linux</a
      >
    </li>
    <li>
      <a href="{{ url_for('page_que_es_un_script')}}">Qué es un Script</a>
    </li>
    <li>
      <a href="{{ url_for('page_variables_globales_y_locales')}}"
        >Variables Locales y Globales</a
      >
    </li>
  </ul>
</article>
<article>
  <h2>
    Clase 2: Bash / Ejercicios / Comandos Usados
    <img
      src="{{ url_for('static', filename='expand.svg')}}"
      class="icon-expand"
      alt=""
    />
  </h2>
  <ul class="ul-article">
    <li>
      <a href="{{ url_for('page_comandos_comunmente_utilizados')}}"
        >Ejercicios con grep and sed</a
      >
    </li>
    <li>
      <a href="{{ url_for('page_estructuras_de_control_e_iterativas')}}"
        >Estructuras de Control e Iterativas</a
      >
    </li>
    <li>
      <a href="{{ url_for('page_ejercicios_en_bash')}}">Ejercicios en Bash</a>
    </li>
  </ul>
</article>
<article>
  <h2>
    Clase 3: Estructuras Básicas / Comandos Grep-Sed / Expresiones Regulares
    <img
      src="{{ url_for('static', filename='expand.svg')}}"
      class="icon-expand"
      alt=""
    />
  </h2>
  <ul class="ul-article">
    <li>
      <a href="{{ url_for('page_comparar_condicionales_bash')}}"
        >Cómo Comparar Condicionales en Bash</a
      >
    </li>
    <li>
      <a href="{{ url_for('page_diferencias_entre_while_y_until')}}"
        >Diferencias entre el While y el Until</a
      >
    </li>
    <li><a href="{{ url_for('page_sed_y_grep')}}">Comandos Grep-Sed</a></li>
    <li>
      <a href="{{ url_for('page_introduccion_a_las_expresiones_regulares')}}"
        >Expresiones Regulares</a
      >
    </li>
    <li>
      <a href="{{ url_for('page_pipeline')}}">Qué es un Pipeline (Ejemplo)</a>
    </li>
    <li>
      <a href="{{ url_for('page_operadores_de_redireccion_en_bash')}}"
        >Operadores de Redirección (Ejemplo)</a
      >
    </li>
  </ul>
</article>
<article>
  <h2>
    Clase 4: Entornos Virtuales / Introducción al Desarrollo Web y a Flask
    <img
      src="{{ url_for('static', filename='expand.svg')}}"
      class="icon-expand"
      alt=""
    />
  </h2>
  <ul class="ul-article">
    <li>
      <a href="{{ url_for('page_entornos_virtuales')}}">Entornos Virtuales</a>
    </li>
    <li><a href="{{ url_for('page_introduccion_a_flask')}}">Flask</a></li>
    <li>
      <a href="{{ url_for('page_introduccion_al_desarrollo_web')}}"
        >Introducción al Desarrollo Web</a
      >
    </li>
  </ul>
</article>
<article>
  <h2>
    Clase 5: Flask / Ejercicios
    <img
      src="{{ url_for('static', filename='expand.svg')}}"
      class="icon-expand"
      alt=""
    />
  </h2>
  <ul class="ul-article">
    <li><a href="{{ url_for('page_flask')}}">Cómo empezar con Flask</a></li>
    <li>
      <a href="{{ url_for('page_scripts_para_flask')}}"
        >Scripts para crear un proyecto en Flask , un entorno virtual y un
        inicializador de un servidor de prueba</a
      >
    </li>
  </ul>
</article>
<article>
  <h2>
    Clase 6: Desarrollo Web: HTML y CSS / Ejercicios
    <img
      src="{{ url_for('static', filename='expand.svg')}}"
      class="icon-expand"
      alt=""
    />
  </h2>
  <ul class="ul-article">
    <li><a href="{{ url_for('page_introduccion_a_html')}}">HTML</a></li>
    <li><a href="{{ url_for('page_introduccion_a_css')}}">CSS</a></li>
  </ul>
</article>
<article>
  <h2>
    Clase 7: JavaScript / Ejercicios
    <img
      src="{{ url_for('static', filename='expand.svg')}}"
      class="icon-expand"
      alt=""
    />
  </h2>
  <ul class="ul-article">
    <li>
      <a href="{{ url_for('page_introduccion_a_javascript')}}">JavaScript</a>
    </li>
  </ul>
</article>
<article>
  <h2>
    Clase 8: Cómo Integrar Flask / Ejercicios con la página de Coffee
    <img
      src="{{ url_for('static', filename='expand.svg')}}"
      class="icon-expand"
      alt=""
    />
  </h2>
  <ul class="ul-article">
    <li>
      <a href="{{ url_for('page_como_usar_ciclos_en_flask')}}"
        >Uso de Ciclos en Flask</a
      >
    </li>
    <li>
      <a href="{{ url_for('page_formularios_en_flask')}}"
        >Formularios en Flask</a
      >
    </li>
    <li>
      <a href="{{ url_for('page_errorHandlers_en_flask')}}"
        >Cómo definir ErrorHandler en Flask (Ver Ejercicio)</a
      >
    </li>
    <li>
      <a href="{{ url_for('page_como_poner_y_modificar_links_en_flask')}}"
        >Modificación de URLs-Links en Flask</a
      >
    </li>
    <li>
      <a href="{{ url_for('page_blocks_en_flask')}}"
        >Cómo reutilizar código con Flask: Blocks</a
      >
    </li>
  </ul>
</article>
<article>
  <h2>
    Clase 9: Métodos de Desarrollo de Software: TDD / Cómo hacer Test
    <img
      src="{{ url_for('static', filename='expand.svg')}}"
      class="icon-expand"
      alt=""
    />
  </h2>
  <ul class="ul-article">
    <li>
      <a href="{{ url_for('page_introduccion_a_tdd')}}">Cómo aplicar TDD</a>
    </li>
    <li>
      <a href="{{ url_for('page_como_hacer_test_en_python')}}"
        >Cómo hacer Test usando Python</a
      >
    </li>
  </ul>
</article>
<article>
  <h2>
    Clase 10: Debugging
    <img
      src="{{ url_for('static', filename='expand.svg')}}"
      class="icon-expand"
      alt=""
    />
  </h2>
  <ul class="ul-article">
    <li><a href="{{ url_for('page_bugs')}}">Qué son los Bugs</a></li>
    <li><a href="{{ url_for('page_como_usar_gdb')}}">Cómo usar GDB</a></li>
  </ul>
</article>
<article>
  <h2>
    Clase 11: Proyectos / Scrum / Kanban
    <img
      src="{{ url_for('static', filename='expand.svg')}}"
      class="icon-expand"
      alt=""
    />
  </h2>
  <ul class="ul-article">
    <li><a href="{{ url_for('page_proyectos')}}">Qué es un Proyecto</a></li>
    <li>
      <a href="{{ url_for('page_introduccion_a_scrum')}}"
        >Metodologías ágiles Scrum</a
      >
    </li>
    <li><a href="{{ url_for('page_como_implementar_kanban')}}">Kanban</a></li>
  </ul>
</article>
<article>
  <h2>
    Clase 12: Repaso para el Parcial
    <img
      src="{{ url_for('static', filename='expand.svg')}}"
      class="icon-expand"
      alt=""
    />
  </h2>
  <ul class="ul-article">
    <li>
      <a href="{{ url_for('page_repaso_para_el_parcial')}}">Ejercicios</a>
    </li>
  </ul>
</article>
<article>
  <h2>
    Clase 13: Parcial
    <img
      src="{{ url_for('static', filename='expand.svg')}}"
      class="icon-expand"
      alt=""
    />
  </h2>
  <ul class="ul-article">
    <li><a href="{{ url_for('page_parcial')}}">Consigna del Parcial</a></li>
    <li>
      <a href="{{ url_for('page_parcial_resuelto')}}">Resolución del Parcial</a>
    </li>
  </ul>
</article>

<article>
  <h2>
    Clase 14: APIs
    <img
      src="{{ url_for('static', filename='expand.svg')}}"
      class="icon-expand"
      alt=""
    />
  </h2>
  <ul class="ul-article">
    <li><a href="{{ url_for('page_api')}}">API, Verbos HTTP, RESTful API, API en Flask</a></li>
  </ul>
</article>

{% endblock %} {% block extra %}

{% endblock %}
