
{% extends "base.html" %}
{% block title %}Introduccion al Desarrollo Web {% endblock %}


{% block main %}
<h1>¿Qué es el Desarrollo Web?</h1>
    <p>El desarrollo web es el proceso de crear y mantener sitios y aplicaciones web. Abarca una amplia gama de tareas, desde el diseño y la planificación hasta la codificación y la implementación. El desarrollo Web se suele separar entre Front end y Back end.</p>
    
    <h1>¿Qué es el Backend?</h1>
    <p>El back end (o backend), también conocido como desarrollo del lado del servidor, se refiere a la parte de un sitio web o aplicación web que no es visible para los usuarios. Se encarga de la lógica de la aplicación, el almacenamiento de datos y la comunicación con el servidor. Entre sus tareas se encuentran:</p>
    <ul>
        <li>Implementar la lógica de la aplicación.</li>
        <li>Almacenar y recuperar datos de una base de datos.</li>
        <li>Procesar solicitudes y enviar respuestas al usuario.</li>
        <li>Asegurar la seguridad del sitio web.</li>
    </ul>
    
    <h1>Frameworks de Back End</h1>
    <ul>
        <li>Spring</li>
        <li>Flask</li>
        <li>Django</li>
        <li>Node.js</li>
        <li>Fast API</li>
        <li>Python</li>
    </ul>
    
    <h1>¿Qué es el Front end?</h1>
    <p>El front end (o frontend), también conocido como desarrollo del lado del cliente, se refiere a la parte de un sitio web o aplicación web con la que los usuarios interactúan directamente. Es la cara visible del sitio, y se encarga de la interfaz de usuario (UI) y la experiencia del usuario (UX). Entre sus tareas se encuentran:</p>
    <ul>
        <li>Diseñar la estructura y el layout de la página web.</li>
        <li>Implementar la lógica de la interfaz de usuario.</li>
        <li>Agregar elementos interactivos como botones, menús y formularios.</li>
        <li>Optimizar el rendimiento del sitio web para diferentes dispositivos.</li>
    </ul>
    
    <h1>Lenguajes del Front end</h1>
    <ul>
        <li>HTML (HyperText Markup Language)</li>
        <li>CSS (Cascading Style Sheets)</li>
        <li>JavaScript (JS)</li>
    </ul>
    
    <h1>Frameworks de Frontend</h1>
    <ul>
        <li>React</li>
        <li>Angular</li>
        <li>Vue.js</li>
        <li>Ember</li>
        <li>Svelte</li>
    </ul>
{% endblock %}
