
{% extends "base.html" %}
{% block title %}kanban {% endblock %}


{% block main %}
<h1>Qué es Kanban:</h1>
    <p>Kanban es un método de gestión visual que se utiliza para optimizar el flujo de trabajo.</p>
    <p>En Kanban, se utiliza un tablero visual que muestra todas las tareas pendientes, en curso y completadas. Cada tarea se representa mediante una tarjeta, y estas tarjetas se mueven a través del tablero a medida que avanzan en el proceso.</p>
    
    <ul>
        <li>Dividir el trabajo en partes, escribir cada elemento en una tarjeta y poner en la pared.</li>
        <li>Utilice columnas nombradas para ilustrar que cada elemento está en el flujo de trabajo.</li>
        <li>Limit Work In Progress (WIP), asignar límites explícitos sobre cuántas historias podrían estar en curso en cada estado del flujo de trabajo.</li>
        <li>Medir el lead time (tiempo promedio para completar una tarea, conocido como "tiempo de ciclo"), optimizar el proceso de forma de hacer el tiempo desperdiciado tan pequeño y predecible posible.</li>
    </ul>
    
    <h1>Herramientas:</h1>
    <ul>
        <li>Jira</li>
        <li>Trello</li>
        <li>Asana</li>
        <li>Azure DevOps</li>
        <li>BaseCamp</li>
    </ul>
{% endblock %}!DOCTYPE html>
