{% extends "base.html" %}
{% block title %}Resolución del Parcial {% endblock %}


{% block main %}
    <h1>Resolucion del examen</h1>
    <h2>Scrip del Punto 1</h2>
    <script src="https://gist.github.com/guillsil/ee2fd695501969139e3a7b5459d4f8e0.js"></script>
    <h2>app.py</h2>
    <script src="https://gist.github.com/guillsil/d9827e2c4d760cd953393d4d744eac1b.js"></script>
    <h2>base.html</h2>
    <script src="https://gist.github.com/guillsil/b49e64773aec04e27970b4eafa3674eb.js"></script>
    <h2>home.html</h2>
    <script src="https://gist.github.com/guillsil/e5ac162387e8a678974ac19c6a293dde.js"></script>
    <h2>formulario.html</h2>
    <script src="https://gist.github.com/guillsil/4d7f2bd5f2d42df4e720e96407de9781.js"></script>
    <h2>aceptado.html</h2>
    <script src="https://gist.github.com/guillsil/19f1d4df2fbe121833a713da7833378a.js"></script>

{% endblock %}
