{% extends "base.html" %}
{% block title %}¿Qué es un proyecto? {% endblock %}


{% block main %}
    <h1>¿Qué es un proyecto?</h1>
    <p>Un Proyecto puede ser visto como una serie de tareas que tienen:</p>
    <ul>
        <li>Un objetivo específico de desarrollar un producto o servicio único a completarse dentro de ciertas especificaciones</li>
        <li>Fechas de comienzo y fin definidas</li>
        <li>Límites presupuestarios</li>
        <li>Recursos que consume</li>
    </ul>

    <h1>¿Por qué los proyectos son complejos?</h1>
    <ul>
        <li>Tamaño - Medido en cantidad de partes o cosas que intervienen y se relacionan</li>
        <li>Dificultad - Cantidad importante de técnicas y herramientas necesarias para dominar el tema</li>
        <li>Variedad - Múltiples opciones para solucionar el mismo problema</li>
        <li>Cambio - Variación de los requerimientos originales</li>
    </ul>

    <h1>Algunos problemas en la gestión de proyectos</h1>
    <ul>
        <li>Requerimientos fuera de control</li>
        <li>No cumplimiento de los tiempos planificados (Desvíos)</li>
        <li>Estimaciones deficientes</li>
        <li>Re-trabajo excesivo</li>
        <li>Baja calidad</li>
        <li>Costos excedidos</li>
        <li>Insatisfacción del Cliente</li>
        <li>Insatisfacción de los profesionales participantes</li>
    </ul>

    <h1>Algunos problemas en la gestión de proyectos</h1>
    <ul>
        <li>No hacer preguntas importantes al inicio de un proyecto</li>
    </ul>

    <h1>Qué variables tenemos en un proyecto:</h1>
    <ul>
        <li>Calidad</li>
        <li>Tiempo</li>
        <li>Esfuerzo</li>
        <li>Alcance</li>
    </ul>

    <h1>Qué nos Demanda el Mercado:</h1>
    <ul>
        <li>Bajo Costo</li>
        <li>Alta Calidad</li>
        <li>Diferenciación</li>
    </ul>
    <p>Requiere: Velocidad + Flexibilidad</p>
{% endblock %}
