{% extends "base.html" %}
{% block title %}¿Qué es un script? {% endblock %}


{% block main %}
<h1>¿Qué es un script?</h1>
    <p>Un script es una secuencia de comandos y operaciones que el shell puede interpretar y ejecutar.</p>
    
    <h1>Guardando un script</h1>
    <p>Esta secuencia de comandos se suelen guardar en un archivo de texto con la extensión <code>.sh</code> (por ejemplo, <code>mi_script.sh</code>) que luego se podrá ejecutar utilizando el comando <code>bash</code>, <code>./</code>, <code>sh</code>, etc., según el shell que estemos utilizando.</p>
    
    <h1>Automatización de tareas</h1>
    <p>De esta forma, podremos automatizar tareas.</p>
    
    <h1>Características de un script</h1>
    <ul>
        <li>Ejecutarse sin errores</li>
        <li>Realizar la tarea para la que está destinado</li>
        <li>Tener la lógica del programa claramente definida</li>
        <li>Evitar el código innecesario</li>
        <li>Ser reutilizable</li>
    </ul>
{% endblock %}
