{% extends "base.html" %}
{% block title %}¿Qué es un bug? Tipos de bugs {% endblock %}


{% block main %}
<h1>¿Qué es un bug?</h1>
    <p>Un bug, en el contexto del desarrollo de software, es un término que se utiliza para referirse a un defecto, error o fallo en un programa de computadora que produce un comportamiento no deseado o incorrecto. Los bugs pueden surgir debido a errores de programación, malentendidos de los requisitos del usuario, problemas de diseño, entre otros factores.</p>

    <h2>Tipos de bugs</h2>
    <ol>
        <li>
            <h3>Errores de sintaxis</h3>
            <p>Estos bugs ocurren cuando el código no sigue la sintaxis correcta del lenguaje de programación. Esto puede incluir errores como escribir mal el nombre de una variable, olvidar un signo de puntuación, o usar una palabra clave incorrecta.</p>
        </li>
        <li>
            <h3>Errores de lógica</h3>
            <p>Estos bugs ocurren cuando el código no produce el resultado esperado debido a un error en la lógica de programación. Por ejemplo, un algoritmo puede no funcionar correctamente o puede producir resultados incorrectos debido a un mal cálculo o una condición incorrecta.</p>
        </li>
        <li>
            <h3>Errores de tiempo de ejecución</h3>
            <p>Estos bugs ocurren cuando un programa produce un error durante su ejecución. Esto puede incluir errores como división por cero, desbordamiento de memoria, o intentar acceder a una variable que no está definida.</p>
        </li>
    </ol>

    <h2>¿Qué es Depurar o Debuguear?</h2>
    <p>Es el proceso que consiste en la detección y corrección de bugs.</p>
    <ul>
        <li>En inglés se dice "debugging" y en la mayoría de los ambientes van a conocerlo de esta forma.</li>
        <li>Es un proceso más que habitual en el ambiente del desarrollo tanto en la etapa de creación como en la de mantenimiento de un programa.</li>
    </ul>

    <h2>¿Qué es un Debugger o Depurador?</h2>
    <ul>
        <li>Es una herramienta que se utiliza para el proceso de debugging.</li>
        <li>Existen muchos debuggers pero casi todos ofrecen las mismas posibilidades.</li>
        <li>Algunos debuggers son específicos de un lenguaje.</li>
        <li>Uno de los debuggers más famosos o que más van a escuchar es GDB: GNU Debugger.</li>
    </ul>

    <h2>¿Qué puede hacer un Debugger?</h2>
    <ul>
        <li>Puede detener la ejecución del programa e irlo ejecutando línea a línea. Hasta puede ejecutarlo instrucción a instrucción.</li>
        <li>Brinda información sobre variables, scopes, threads, stack trace y de casi todo lo que compone al programa en sí.</li>
    </ul>
{% endblock %}
