{% extends "base.html" %}
{% block title %}Repaso del Parcial{% endblock %}


{% block main %}
<h1>Repaso para el Parcial</h1>
<h2>Ejercicios en bash</h2>
<script src="https://gist.github.com/guillsil/f2fadaeef9fa92ede4ff31522ff70485.js"></script>
<script src="https://gist.github.com/guillsil/3334884cf61ed52e2228bc1508be825b.js"></script>
<script src="https://gist.github.com/guillsil/0c871ea54c372e79d20078ab185635f2.js"></script>
<h2>Proyecto de una web en la cual se aplica todo lo aprendido en esta materia (En Progreso) para practicar para el parcial</h2>
<a href="https://github.com/guillsil/web-contenidos-Intro-dev-software.git" target="_blank">Link para ver el proyecto desde GitHub</a>
    
{% endblock %}
