{% extends "base.html" %}
{% block title %}Scripts para Preparar Flask {% endblock %}

{% block main %}
<h1>Scripts necesarios para preparar un proyecto en flask</h1>
    
    <div class="scripts">
        <h2>Crear un Proyecto en flask</h2>
        <p>Debe ejecutar el script y pasarle por parametro el nombre del mismo y se creara un proyecto simple.</p>
        <script src="https://gist.github.com/guillsil/59ba85fdbb85f83bad488bcb1a4d8b8a.js"></script>
        
    </div>

    <div class="scripts">
        <h2>Preparar el entorno virtual e instalar Flask</h2>
        <p>Debe ejecutar el script y pasarle por parametro el nombre del paquete que desea instalar en el entorno virtual en este caso seria flask</p>
        <script src="https://gist.github.com/guillsil/0c871ea54c372e79d20078ab185635f2.js"></script>
    </div>

    <div class="scripts">
        <h2>Iniciar el servidor de prueba</h2>
        <p>Debe ejecutar el script y pasarle por parametro el puerto donde quiere que se ejecute y el nombre del archivo app.py de flask</p>
        <script src="https://gist.github.com/guillsil/d5dd6b7419625f2962ebb70b02c50c10.js"></script>
    </div>

{% endblock %}
