{% extends "base.html" %}
{% block title %}Uso de Ciclos en Flask {% endblock %}


{% block main %}
<h1>Como hemos visto en clases anteriores</h1>
  <p>Podemos utilizar un ciclo for embebido dentro del código HTML que reciba información del servidor y la pueda desplegar en el front una porción de código repetida tantas veces como se desee.</p>
  <h2>Ciclo for con una lista</h2>
  <img src="{{ url_for('static', filename='ciclos-for-lista.png')}}" alt="">
  <h2>Ciclo for con una diccionario</h2>
  <img src="{{ url_for('static', filename='ciclos-for-dic.png')}}" alt="">

{% endblock %}
