@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap");

body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
Estilos al Header
*/
header {
  display: flex;
  padding: 0 20px;
  align-items: center;
  background-color: rgb(37, 58, 69);
  justify-content: space-between;
}

.header-logo h1 a {
  font-family: "Space Mono", monospace;
  color: rgb(167, 176, 180);
  max-width: 2rem;
  text-decoration: none;
}
svg {
  max-width: 50px;
  height: auto;
  cursor: pointer;
  margin-left: 20px;
}
.abrir-menu, .cerrar-menu {
  display: none;
}

.nav-list{
  display: flex;
  list-style-type: none;
  gap: 1rem;
}

.nav-list li a {
  color: rgb(167, 176, 180);
  text-decoration: none;
}


/*estilos para el main*/
.main-container {
  background-color: rgb(139, 151, 157);
  padding: 15px;
}

.main-container article h2 {
  color: rgb(11, 38, 49);
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.icon-expand {
    margin-left: 10px;
    cursor: pointer;
    font-size: 2rem;
}

.icon-expand:hover {
    animation: pulse 0.5s;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

.ul-article {
  display: none;
  list-style-type:  none;
}

h1, h2, h3, h4, h5, h6{
  color: #2e2e2e;
  font-size: 24px;
  font-weight: bold;
}
.principal {
  color: #2e2e2e;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.principal a {
  color: #2e2e2e;
  font-size: 30px;
  font-weight: bold;
}

p {
  color: black;
  font-size: 22px;
  line-height: 1.5;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

ul ul {
  list-style-type: circle;
  margin-left: 5px;
}

li {
  margin-bottom: 10px;
  font-size: 20px;
}

.li-principal {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  color: #333333;
}

code {
  color: #666666;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 18px;
  font-weight: bold;
}
pre {
  font-size: 15px;
}

a {
  text-decoration: none;
  color: #2e2e2e;
  font-size: 20px;
  transition: 0.3s;
}

a:hover {
  color: black;
}

img {
  width: 70%;
  height: auto;
}

/* 
  Estilos para el formulario 
*/
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 40px;
  background-color: rgb(61, 80, 90);
  font-weight: bold;
  color: rgb(167, 176, 180);
  border-radius: 20px;
}

.datos-person,
.datos-text {
  margin-bottom: 20px;
  font-size: 20px;
}
label {
  font-weight: bold;
  margin-top: 10px;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
}

button {
  background-color: rgb(193, 196, 202);
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2e2e2e;
}


/* 
Estilos para el footer 
*/

footer {
  background-color: rgb(37, 58, 69);
  color: rgb(167, 176, 180);
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-around;
}


.footer-heading {
  font-size: 20px;
  color: rgb(167, 176, 180);;
}

.footer-list {
  list-style: none;
  padding: 0;
}


.footer-list a {
  color: rgb(167, 176, 180);
  text-decoration: none;
  margin-right: 10;
  display: inline-block;
}

.footer-list a i {
  margin-right: 10px; /* Margen entre el icono y el texto */
}

@media screen and (max-width: 778px) {
  header{
    padding: 0 5px;
  }
  .main-container-two {
    background-color: rgb(139, 151, 157);
    padding: 3rem;
}
  .main-container article h2 {
    font-size: 20px;
  }
  .main-container article a {
    font-size: 20px;
  }
  .abrir-menu, .cerrar-menu  {
    display: block;
    border: 0;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
  }
  .abrir-menu {
    color: rgb(167, 176, 180);
  }
  .cerrar-menu {
    color: rgb(167, 176, 180);
  }
  .nav{
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: rgb(23, 43, 54);
    top: 0;
    right: 0;
    bottom: 0;
    padding: 2rem;
    gap: 1rem;
  }
  
  .nav.visible {
    opacity: 1;
    visibility: visible;
  }
  .nav-list {
    flex-direction: column;
    align-items: center;
    background-color: rgb(23, 43, 54);
    text-align: center;
    padding: 1rem;
  }
  
}